<header class="header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span12">
        <%= render 'shared/lang_switcher' %>
        <%= render 'shared/menu' %>      
    </div>
  </div>
</header>
