<nav class="header-menu">
    <%= render 'shared/menu/top' %>
    <% if @page && @page != @page.root  %>
      <div>
        <%= render 'shared/menu/middle' %>
        <%= render 'shared/menu/main' %>
      </div>
    <% end %>
</nav>