<nav class="header-menu">
<ul>
  <% Page.all.each do |page| %>
    <% unless page.hidden?  %>
      <% if page.root? %>
        <li class="#{class_attr} menu_item">
          <%= link_to content_tag(:span, page.name), slug_path(page) %>
          <ul class="nested_links hidden">
		        <% page.children.each do |child| %>
		          	<%= link_to content_tag(:span, child.name), slug_path(child) %>
		        <% end %>  
          </ul>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
</nav>
