<% if @middle_menu.present? %>
  <ul>
    <% @middle_menu.each do |page| %>
      <% unless (page == @page.root) || (page == @page) %>
        <li>
          <%= link_to content_tag(:span, page[:name]), slug_path(slug: page[:slug]) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>