@import "compass";
$short-sprite-dimensions: true;

@mixin input-placeholder($color,$style,$weight) {
  &::-webkit-input-placeholder{color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:placeholder{color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:-ms-input-placeholder {color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:-moz-placeholder {color:$color !important; font-style:$style !important; font-weight:$weight !important;}
}

.feedback {width:330px; margin:0 auto; position:relative; padding:20px 0 0; border:1px solid #eaeaea;@include border-radius(6px); margin-top:50px; @include box-sizing(border-box);}
.feedback-controls {position: relative; z-index: 5; padding:0 20px 10px; @include box-sizing(border-box);}
.feedback-control {@include input-placeholder(#cccccc,italic,200);}
.feedback-notification {margin:0 auto; width:330px;}
.feedback-form {margin: 0;}
.feedback-btn {
  background-color:#80c9be;
  @include border-radius(6px);
  border:4px solid #ffffff;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:19px;
  font-weight:normal;
  padding: 7px 29px;
  text-decoration:none;
}

.feedback-btn:hover {
  background-color:#77bab0;
}

.feedback-btn:active {
  position:relative;
  top:1px;
}